# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore environment-specific files
.env

# Ignore dependency lock files
package-lock.json
yarn.lock

# Ignore IDE or editor-specific files
.vscode/
.idea/
*.iml

# Ignore configuration files that might contain sensitive information
config.js
